[Desktop Entry]
Encoding=UTF-8
Name=MX Panel Orientation
Name[ca]=MX Panel Orientation
Name[de]=MX Panel Orientation
Name[el]=MX Panel Orientation
Name[es]=MX Panel Orientation
Name[fr]=MX Panel Orientation
Name[it]=MX Panel Orientation
Name[ja]=MX Panel Orientation
Name[nl]=MX Panel Orientation
Name[sv]=MX Panel Orientation
Comment=Select horizontal or vertical panel
Exec=mx-panel-orientation
Terminal=false
Type=Application
Icon=mx-panel-orientation
Categories=XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
Keywords=Desktop
NoDisplay=false
