[Desktop Entry]
Encoding=UTF-8
Name=MX Panel Orientation
Name[ca]=MX Panel Orientation
Name[de]=MX Panel-Ausrichtung
Name[el]=MX Panel Orientation
Name[es]=MX Orientación del Panel
Name[fr]=MX Orientation du panneau
Name[it]=MX Orientazione del Pannello
Name[ja]=MX パネルの方向
Name[nl]=MX Paneel Oriëntatie
Name[ru]=MX Ориентация панели
Name[sv]=MX Panel-orientering
Comment=Select horizontal or vertical panel
Comment[ca]=Selecciona entre Quadre horitzontal o vertical 
Comment[de]=Auswahl zwischen einem horizontalen und einem vertikalen Panel
Comment[el]=Επιλέξτε οριζόντια ή κάθετη πάνελ
Comment[es]=Seleccionar el panel horizontal o verticalmente
Comment[fr]=Sélection du panneau horizontal ou vertical
Comment[it]=Scelta del pannello in orizzontale o in verticale
Comment[ja]=パネルの垂直・並行を選択します
Comment[nl]=Selecteer horizontaal of verticaal paneel
Comment[ru]=Выбор горизонтальной или вертикальной панели
Comment[sv]=Välj horisontell eller vertikal panel
Exec=mx-panel-orientation
Terminal=false
Type=Application
Icon=mx-panel-orientation
Categories=XFCE;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
Keywords=Desktop
NoDisplay=false
